body{
  background-color: rgba(135,206,176,1) !important;
  height: 100%;
  width: auto;
}

#run-grid{
  display:inline;
}

#row1{
  margin-top: 5%;
  background-color: rgb(40,40,40, 0.8);
}

#col2{
  text-align: center;
}

#pic1{
  margin-top: 8%;
  margin-bottom: 8%;
  margin-right: 4%;
  margin-left: 4%;
  width: 100%;
}

#run-head{
  margin-top: 10%;
  text-align: center;
  font-family: "Oswald";
  color: white;
}

#run-btn{
  margin-top: 2%;
  width: 160px;
  background-color: rgb(50,71,101) !important;
}

#run-text{
  margin-right: 4%;
  margin-left: 4%;
  font-family: "Oswald";
  font-size: 20px;
  color: white;
}


#run-icon{
  margin-right: 10%;
}

@media only screen and (min-width: 320px) and (max-width: 1023px){
  #col{
    padding: 0 !important;
  }

  #pic1{
    margin: 0 !important;
    width: 100%;
  }
}
