body{
  background-color: rgba(135,206,176,1) !important;
  height: 100%;
  width: auto;
}

.navbar{
  background-color: rgb(50,71,101) !important;
}

.navbar .navbar-nav .nav-link{
  font-family: "Oswald" !important;

}

.carousel-item img{
  width: 100%;
}


#project-grid{
    margin-top: 10%;
  }

#project-photo-jtron{
  background-color: black;
}

#photo-col{
  padding-left: 80px;
}

#cbtn{
  background-color: rgba(50,71,101,1) !important;
  font-family: "Oswald";
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

#info{
  padding-right: 10px;
}

#project-photo-col{
  background-color: black;
  color: white;
  font-family: "Oswald";
  text-align: center;
}

#project-song-jtron{
  background-color: black;
}

#song-col{
  padding-left: 80px;
}

#project-song-col{
  background-color: black;
  color: white;
  font-family: "Oswald";
  text-align: center;
}

#project-server-jtron{
  background-color: black;
}

#server-col{
  padding-left: 80px;
}

#project-server-col{
  background-color: black;
  color: white;
  font-family: "Oswald";
  text-align: center;
}

#project-gauss-jtron{
  background-color: black;
}

#gauss-col{
  padding-left: 80px;
}

#project-gauss-col{
  background-color: black;
  color: white;
  font-family: "Oswald";
  text-align: center;
}

#project-row{
 margin-bottom: 40%;
}

#project-row2{
 background-color: rgb(40,40,40, 0.5);
}

#project-row3{
 background-color: rgb(40,40,40, 0.8);
}

#project-row4{
 background-color: rgb(40,40,40, 0.5);
}

#project-row5{
 background-color: rgb(40,40,40, 0.8);
}

#project-row6{
 background-color: rgb(40,40,40, 0.5);
}


#project-col2{
  text-align: center;
  padding-right: 0% !important;
}

#project-col3{
  padding-right: 0% !important;
}

#project_head{
  color: white;
  font-family: "Oswald";
  margin-top: 7%;
}

#git{
  padding-right: 10px;
}

#project-text{
  color: white;
  font-family: "Oswald";
  margin: 0;
  width: auto;
  padding-right: 20%;
  padding-left: 20%;
}

#pbtn{
  display: inline-block;
  background-color: rgb(50,71,101) !important;
  font-family: "Oswald";
  margin-right: 5%;
}

#project-img{
  display: inline-block;
  margin-top: 5%;
  margin-bottom: 5%;
  max-width: 90%;
  max-height: 90%;
}


@media only screen and (min-width: 320px) and (max-width: 424px){
  #photo-col{
    margin-right: 22%;
  }

  #song-col{
    margin-right: 22%;
  }

  #server-col{
    margin-right: 22%;
  }

  #gauss-col{
    margin-right: 22%;
  }

  #project_head{
    color: white;
    font-family: "Oswald";
    margin-top: 7%;
    margin-right: 5%;
  }

  #project-text{
    color: white;
    font-family: "Oswald";
    margin-right: 5%;
    width: auto;
    padding-right: 20%;
    padding-left: 20%;
  }

  #project-img{
    display: inline-block;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 2% !important;
    max-width: 90%;
    max-height: 90%;
  }
}

@media only screen and (min-width: 425px) and (max-width: 767px){
  #photo-col{
    margin-right: 20%;
  }

  #song-col{
    margin-right: 19%;
  }

  #server-col{
    margin-right: 19%;
  }

  #gauss-col{
    margin-right: 20%;
  }

  #project_head{
    color: white;
    font-family: "Oswald";
    margin-top: 7%;
    margin-right: 6%;
  }

  #project-text{
    color: white;
    font-family: "Oswald";
    margin-right: 6%;
    width: auto;
    padding-right: 20%;
    padding-left: 20%;
  }

  #pbtn{
    display: inline-block;
    background-color: rgb(49, 66, 157) !important;
    font-family: "Oswald";
    margin-right: 6%;
  }

  #project-img{
    display: inline-block;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 2% !important;
    max-width: 90%;
    max-height: 90%;
  }
}

@media only screen and (min-width: 767px) and (max-width: 1023px){
  #photo-col{
    margin-right: 14%;
  }

  #song-col{
    margin-right: 10%;
  }

  #server-col{
    margin-right: 12%;
  }

  #gauss-col{
    margin-right: 12%;
  }

  #project_head{
    color: white;
    font-family: "Oswald";
    margin-top: 7%;
    margin-right: 5%;
  }

  #project-text{
    color: white;
    font-family: "Oswald";
    margin-right: 5%;
    width: auto;
    padding-right: 20%;
    padding-left: 20%;
  }

  #pbtn{
    display: inline-block;
    background-color: rgb(49, 66, 157) !important;
    font-family: "Oswald";
    margin-right: 5%;
  }

  #project-img{
    display: inline-block;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 3.5% !important;
    max-width: 90%;
    max-height: 90%;
  }
}
